.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.margin-n 
  margin: 0 -3rem 
.tabs-b__tab
  img
    filter: grayscale(1)
  &:hover
    img
      filter: none
  &--active
    img
      filter: none
.slyder-100
  .horizontal-scroll
    align-items: normal !important

.flecha
  position: absolute
  display: inline-block
  top: 10%
  left: 0
  &--1
    left: 22%
  &--2
    left: 47%
  &--3
    left: 73%
.tabla-morada
  border-top: 0px

  thead
    tr
      background-color: $color-acento-contenido
      color: $white
  tbody
    tr:nth-child(odd)
      background-color: #F6F6F6
    tr
      td:first-child
        font-weight: bold
