.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.margin-n 
  margin: 0 -3rem 
.tabs-b__tab
  img
    filter: grayscale(1)
  &:hover
    img
      filter: none
  &--active
    img
      filter: none
.slyder-100
  .horizontal-scroll
    align-items: normal !important

.flecha
  position: absolute
  display: inline-block
  top: 10%
  left: 0
  &--1
    left: 22%
  &--2
    left: 47%
  &--3
    left: 73%
.tabla-morada
  border-top: 0px

  thead
    tr
      background-color: $color-acento-contenido
      color: $white
  tbody
    tr:nth-child(odd)
      background-color: #F6F6F6
    tr
      td:first-child
        font-weight: bold
.modales-w
  @media (min-width: $bp-min-lg)
    .img-infografica__card
      width: 700px !important
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  opacity: 1
  background-color: #583cb6
  background-image: url(../assets/template/arrow-white.svg)
  @media (max-width: $bp-max-sm)
    border-radius: 20%
    padding: 1rem
    width: 2px
    
.slyder-a__bullets__item--active
  background-color: #583cb6 !important
  border: 0px
.slyder-a__bullets__item
  background-color: #d8c3ff
.slyder-a__bullets
  @media (max-width: $bp-max-sm)
    transform: scale(0.5)
.tabs-a__tab
  background-color: #e8e8e8
.cajon-b.color-primario

  &::before
    background-color: #F7E9E1 !important
.media-info
  @media (max-width: $bp-max-xs)
    display: flex
    justify-content: center
    img
      transform: scale(1.5)

 